# Ignore environment files
.env

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.db


# Ignore database folder files
database/history_*.json
users.json
output.docx